@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;

    background-color: #000000;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;

}

.calculator-container {
    padding: 20px;
    height: 550px;
    width: 400px;
    max-width: 450px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: #1C1C1C;
}



#totalValue {
    height: 30px;
    color: grey;
    font-family: "Roboto";
    font-size: 25px;
    text-align: right;
    padding-right: 20px;
}

.display {
    height: 70px;
    width: 100%;
    margin: 0px;
    text-align: right;
    background-color: transparent;
    border: 0px solid;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;

}

#key {
    margin: 10px;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

}

.button-dark {
    height: 65px;
    width: 65px;
    color: #D4D4D2;
    background-color: hsl(0, 0%, 30%);
    /*#505050 */
    border-radius: 50px;
    border: 0px solid;
    margin: 5px;
    font-family: "Roboto";
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.button-dark:hover {
    background-color: hsl(0, 0%, 30%);
}

.button-dark:active {
    background-color: hsl(0, 0%, 50%);
}


.button-yellow-operation {
    height: 65px;
    width: 65px;
    color: #D4D4D2;
    background-color: #FF9500;
    border-radius: 50px;
    border: 0px solid;
    margin: 5px;
    font-family: "Roboto";
    font-size: 30px;
    text-align: center;
    padding-right: 10px;
    font-weight: normal;
}


.button-yellow-operation:hover {
    background-color: hsl(35, 100%, 55%);
}

.button-yellow-operation:active {
    background-color: hsl(35, 100%, 65%);
}